@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 800px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}

.homeContainer {
  max-width: 800px;
  margin: 30px auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}
.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn-block {
  display: block;
  width: 100%;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control textarea {
  width: 100%;
  font-size: 17px;
}

.form-control-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.form-control-check label {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.form-control-check input {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  height: 20px;
}

.task {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.card {
  -webkit-box-shadow: 2px 5px 6px -1px #000000;
  box-shadow: 2px 5px 6px -1px #000000;
}

header {
  -webkit-box-shadow: 2px 5px 6px -1px #000000;
  box-shadow: 2px 5px 6px -1px #000000;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: rgb(37, 37, 245);
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.chatBox {
  height: 500px;
  width: 300px;
  background-color: whitesmoke;
  position: absolute;
  right: 0;
  bottom: 0;
  border: grey;
  border-style: solid;
  z-index: 1000;
}

.userChat {
  display: flex;
  color: black;
  margin: 20px;
}

.chatSent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.chatReceived {
  display: flex;
  flex-direction: column;
}

.singleMessageReceived {
  background-color: #900044;
  margin-top: 10px;
  padding: 10px;
  width: 70%;
  border-radius: 10%;
  margin-left: 5px;
}

.singleMessageSent {
  flex-direction: column;
  background-color: #0021a4;
  margin-top: 10px;
  padding: 10px;
  width: 70%;
  border-radius: 10%;
  margin-right: 5px;
}
